<div class="container">
  <div class="header">
    <h1>Gif Search</h1>
    <input type="text" #searchQuery>
    <button class="search" (click)="loadGifs(searchQuery)"><i class="fa fa-search"></i></button>
    <h3>You can search any gif with our search</h3>
    <h4>Everything you need for your creative projects, websites, banners, presentations, magazines and advertising</h4>
  </div>

  <div class="gifs">
    <div *ngFor="let gif of gifs">
      <!--<img *ngFor="let g of gif" src="{{g.images.original.url}}">-->
      <video width="400" height="200">
        <source src="https://external-preview.redd.it/vkO0MHpAkXNIqxkJIWCkvU2xUe4P-ZM7smuDt5_PA04.gif?format=mp4&s=b781768a63bb3c43bc4b78efa83f0f05167464b2" type="video/mp4">
      </video>
    </div>
  </div>
</div>
