.container {
  font-family: Verdana;
  margin: 0 auto;
  width: 50rem;
  padding: 20px;
}

.container .header {
  text-align: center;
  background-color: #FF6C00;
  color: #ffffff;
  padding: 10px;
}

.container .gifs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search {
  width: 30px;
  height: 21px;
  cursor: pointer;
}
